:root{
  --primary-color: #221d23;
  --secondary-color: #FBFBFF;
  --accent-color: #01BAEF;
  --primary-color-light: #675d69;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.teams-card,
.about-card{
  display:flex; 
  flex-direction: column;  
  background-color: var(--secondary-color);
  border-radius: 3em;
}
.teams-card{
  width: 380px;
  align-items: center;
  padding: 1.5em;
}
.about-card{
  width: 70%;
  padding: 2em;
}
.about-card p,
.about-card ul{
  font-size: 1.5em;
  text-align: justify;
}
.about-card p{
  margin: 0;
  padding: 0.5em 1em;

}
.about-card ul{
  padding-left: 2em;
  margin: 0;
}
.nav {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}
a{
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--primary-color);
}
a:hover{
  background-color: var(--accent-color);
  color: var(--secondary-color)
}
h1,
h2, 
h3,
h4{
  text-align: center;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-weight:900;
  font-style: normal;
}
h1,
h2{
  padding: 0 40px;
  color: var(--secondary-color);
}
h1{
  font-size: 10em;
}
h2{
  font-size: 5em;
}
h3{
  font-size: 3em;
  margin: 0 auto;
}
h4 {
  margin: 0 auto;
  margin-bottom: 0.5em;
  font-size: 2em;
  text-transform: uppercase;
}
span{
  color: var(--accent-color);
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 2em;
}
.icon-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-logo {
  height: 150px;
  display: block;
  margin: 0 auto 15px auto;
}

.hobby-icon{
  position: relative;
  padding: 0.5em;
  margin: 0.5em 2em;
  background-color: var(--primary-color-light); 
  width: 5em;
}
.hobby-icon img{
  display: block;
  margin: 0 auto;
}
/* disclaimer: this hover solution is ugly, as i took inspiration
   from 'on hover' javascript effect and recreated it in css */
.hover-text{
  display: none;
  position: absolute;
  padding: 0.5em;
  background-color: var(--accent-color);
  /* top and left positions in relation to parent for hover effect*/
  top: -4em;
  left: -50%;
  border-radius: 1.5em;
}
.hover-text p{
  /* max-content prevents wrapping due to parent's width */
  width: max-content;
  text-transform: uppercase;
  font-size: 1.2em
}
.hobby-icon:hover .hover-text{
  display: block;
}

table{
  width: 90%;
  margin-bottom: 1.5em;
}
th,
td {
  vertical-align: top;
}
th {
  width: 30%;
  padding-right: 1.5em;
  text-align: left;
}

.more-card{
  display: flex;
  flex-direction: column;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.more-card a{
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}